body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: white;
  text-decoration: none;
}
.navbar-expand-lg{

  padding-left: 30%;

}



/*navbar style*/
nav {
  background-color: #70a1ff;
}
span.navbar-toggler-icon{
  color: white;
  background-color: #dadada;
}

#navbarSupportedContent ul{
  padding-left: 35px;
  color: white;
}
.navbar-nav li{
  padding-right: 5px;
}
.nav-item .nav-link:link {
  color: white;

}
.nav-item .nav-link:hover {
  background-color: #FD7272;
}

.nav-item .nav-link:visited {
  color: white;
  /*background-color: red;*/
}

/*.nav-item .nav-link:active {*/
/*color: white;*/
/*background-color: red;*/
/*}*/

.navbar-nav li.active {
  background-color:#222f3e;
  color:#fff;

}

.navbar-brand{
  margin-left: 30px
}
.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
}