body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #00B7FF;
}

/* body{
  background-color: red;
} */


.navbar-nav li:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: blue;
}
.navbar-nav li:visited {
  color: purple;
  background-color:#d90000;
}
.navbar-nav li:hover {
  color: green;
  background-color:#d90000;
}
.navbar-nav li:active {
  color: red;
  background-color : black;
}